<!-- reviews/templates/reviews/add_ticket_review.html -->
{% extends 'reviews/base.html' %}
{% block content %}
<div class="container">
    <div class="row d-flex flex-column justify-content-center align-items-center my-4">
        <h3>Ajouter un billet</h3>
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}

            <!-- Ticket Creation -->
            <div class="form-group">
                <label for="{{ ticket_form.title.id_for_label }}" class="d-none">Titre</label>
                {{ ticket_form.title }}
            </div>
            <div class="form-group">
                <label for="{{ ticket_form.description.id_for_label }}" class="d-none">Description</label>
                {{ ticket_form.description }}
            </div>
            <div class="form-group">
                <label for="{{ ticket_form.image.id_for_label }}">Image :</label>
                <div class="image border rounded p-2">{{ ticket_form.image }}</div>
            </div>

            <!-- Review creation -->
            <h3 class="my-2">Ajouter une critique sur ce billet</h3>
            <div class="form-group">
                <label for="{{ review_form.rating.id_for_label }}">Note</label>
                {{ review_form.rating }}
            </div>

            <div class="form-group">
                <label for="{{ review_form.headline.id_for_label }}" class="d-none">Titre de la critique :</label>
                {{ review_form.headline }}
            </div>

            <div class="form-group">
                <label for="{{ review_form.body.id_for_label }}" class="d-none">Votre critique</label>
                {{ review_form.body }}
            </div>

            <button
                    type="submit"
                    class="btn btn-primary mr-2 save-button"
                    aria-label="Soumettre">
                <i class="fa fa-save"></i> Soumettre
            </button>
        </form>
    </div>
</div>
{% endblock %}