{% load static %}
<html>
    <head>
        <title>LITRevu App</title>
        <link rel="stylesheet" href="{% static 'reviews/css/style.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
        <link rel="icon" href="{% static 'reviews/images/favicon.ico' %}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if user.is_authenticated %}
            {% include 'reviews/sidebar.html' %}
        {% else %}
            <header class="header">
                <img src="{% static 'reviews/images/logo.png'%}" alt="Logo officiel LITReview" class="logo">
                <nav class="navigation">
                    {% if user.profile_picture %}
                        <div class="profile-picture-container">
                            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
                        </div>
                    {% else %}
                        <img src="/media/profile_pictures/default-image.jpg" alt="default profile picture" class="no-profile-picture">
                    {% endif %}
                    <div class="profile-greetings">
                        <span>Bonjour {{ user.first_name|default:user.email }}</span> |
                    </div>
                    <div class="logout_container">
                        <form action="{% url 'logout'%}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="logout_button">
                                Se déconnecter
                            </button>
                        </form>
                    </div>
                </nav>
            </header>
        {% endif %}

        <div class="{% if user.authenticated %}content-container {% else %} container {% endif %}">
            {% block content %} {% endblock %}
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <footer class="footer">
            <p>&copy; {% now "Y" %} - LITReview - Tous droits réservés</p>
        </footer>
    </body>
</html>