<!-- reviews/templates/reviews/edit_ticket.html -->
{% extends 'reviews/base.html' %}ù
{% load static %}
{% block content %}

<div class="ticket container my-1">
    <div class="row d-flex flex-row justify-content-between ml-5">
        <!-- left column -->
        <div class="col-md-8">
            <h2 class="mb-3 mt-4 edit-ticket-title">Modifier le billet</h2>
            <form
                    method="post"
                    enctype="multipart/form-data"
                    class="edit-ticket-form">
                {% csrf_token %}
                <div class="form-group">
                    <label>Titre</label>
                    {{ form.title }}
                </div>
                <div class="form-group">
                    <label>Description</label>
                    {{ form.description }}
                </div>
                <div class="form-group justify-content-start pb-1 d-flex edit-ticket-button-group">
                    <button
                        type="submit"
                        class="btn btn-primary mr-2 save-button"
                        aria-label="Enregistrer les modifications">
                    <i class="fa fa-save"></i> Enregistrer les modifications
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger cancel-button"
                        onclick="window.location.href='{% url 'feed' %}'"
                        aria-label="Annuler">
                    <i class="fa fa-ban"></i> Annuler
                    </button>
                </div>
            </form>
        </div>
        <!-- right column -->
        <div class="col-md-4 mt-3">
            <div class="image-section">
                <img
                        src="{{ ticket.image.url }}"
                        alt="{{ ticket.title }}"
                        class="img-fluid current-ticket-image mb-4 pb-2">
                <label
                        for="id_image"
                        class="mt-1">
                    Modifier l'image
                </label>
                {{ form.image }}
        </div>
</div>
{% endblock %}