<!-- reviews/templates/reviews/feed.html -->
{% extends 'reviews/base.html' %}
{% block content %}
<div class="feed_container">
    <div class="row">
        <div class="col">
            <h2 class="my-4">Flux</h2>
            {% for ticket in tickets %}
                <div class="col-8 m-3 justify-content-center">
                    <div class="card bg-white mb-3 p-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 justify-content-center">
                                <img
                                    src="{{ ticket.image.url }}"
                                    alt="{{ ticket.title }}"
                                    class="card-img"
                                >
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">{{ ticket.title }}</h3>
                                    <p class="card-text">{{ ticket.description }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Créé le : {{ ticket.time_created|date:"d F Y, H:i" }}
                                            par {{ ticket.user.first_name }}
                                            {{ ticket.user.last_initial|capfirst }}.
                                        </small></p>
                                    {% for review in ticket.reviews.all %}
                                        <div class="single-review">
                                            <strong>{{ review.user.first_name }} : </strong>
                                            <strong>{{ review.rating }}</strong>
                                            <h4>{{ review.headline }}</h4>
                                            <p>{{ review.body }}</p>
                                            <small>
                                                Créé par {{ review.user.first_name }}
                                                {{ review.user.last_initial|capfirst }}.
                                            </small>
                                        </div>
                                    {% endfor %}
                                    {% if ticket.id not in reviewed_tickets_ids %}
                                        <form action="{% url 'add_review' ticket.id %}" method="post">
                                            {% csrf_token %}
                                            <input
                                                    type="text"
                                                    name="headline"
                                                    class="form-control"
                                                    placeholder="Titre"
                                                    required>
                                            <select
                                                    name="rating"
                                                    class="form-control my-2"
                                                    required>
                                                <option value="" disabled selected>Choisissez une note</option>
                                                <option value="1">1 - Très mauvais</option>
                                                <option value="2">2 - Mauvais</option>
                                                <option value="3">3 - Moyen</option>
                                                <option value="4">4 - Bon</option>
                                                <option value="5">5 - Excellent</option>
                                            </select>
                                            <textarea
                                                    name="body"
                                                    class="form-control"
                                                    placeholder="Votre critique..." required></textarea>
                                            <button type="submit" class="btn btn-primary mt-2">
                                                Ajouter une critique</button>
                                        </form>
                                    {% else %}
                                        <p>Ce billet a déjà une critique</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h2>Critiques</h2>
            {% for review in reviews %}
                <div>
                    <h3>{{ review.headline }}</h3>
                    <span>{{ review.rating }}</span>
                    <p>{{ review.body }}</p>
                    <small>Créé par {{ review.user.email }} le {{ review.time_created }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}