<!-- reviews/templates/reviews/feed.html -->
{% extends 'reviews/base.html' %}
{% block content %}
<div class="feed_container">
    <div class="row">
        <div class="col">
            <h1>Flux</h1>
            <h2>Billets</h2>
            {% for ticket in tickets %}
                <div class="col-8 m-3 justify-content-center">
                    <div class="card bg-white mb-3 p-3">
                        <div class="row no-gutters">
                            <div class="col-md-4 justify-content-center">
                                <img
                                    src="{{ ticket.image.url }}"
                                    alt="{{ ticket.title }}"
                                    class="card-img"
                                >
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title">{{ ticket.title }}</h3>
                                    <p class="card-text">{{ ticket.description }}</p>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            Créé le : {{ ticket.time_created }}
                                            par {{ ticket.user.first_name }}
                                            {{ ticket.user.last_name|slice:":1"|capfirst }}.
                                        </small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <h2>Critiques</h2>
            {% for review in reviews %}
                <div>
                    <h3>{{ review.headline }}</h3>
                    <span>{{ review.rating }}</span>
                    <p>{{ review.body }}</p>
                    <small>Créé par {{ review.user.email }} le {{ review.time_created }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}