<!-- reviews/templates/reviews/home.html -->
{% extends 'reviews/base.html' %}
{% block content %}

<div class="container my-4">
    <div class="row home_row">
        <div class="col-md-5 col-12 register_column my-2 px-2">
            <h3 class="cta_register">Pas encore inscrit(e) ? Inscrivez-vous maintenant</h3>
            <button
                    type="button"
                    class="home_register_button"
                    onclick="location.href='{% url 'register'%}'"
                    aria-label="S'inscrire">
                S'inscrire
            </button>
        </div>
        <div class="col-md-5 col-12 login_column my-2 px-2">
            <h3 class="cta_login">Connectez-vous</h3>
            {% include 'reviews/login_form.html' with form=login_form %}
        </div>
    </div>
</div>
{% endblock %}