<!-- reviews/templates/reviews/list_tickets.html -->
{% extends 'reviews/base.html' %}
{% load range_filter %}
{% block content %}

<div class="container d-flex flex-column">
    <div class="row">
        <div class="col mb-3">
            <h2 class="mb-3">Vos tickets</h2>
        </div>
    </div>
    <div class="row d-flex flex-column">
        {% for ticket in tickets %}
        <div class="col-12 mb-2">
            <div class="card bg-white mb-3 p-3">
                <div class="row no-gutters">
                    <div class="col-md-4 justify-content-center">
                        <img
                            src="{{ ticket.image.url }}"
                            alt="{{ ticket.title }}"
                            class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ ticket.title }}</h5>
                            <p class="card-text">{{ ticket.description }}</p>
                            <p class="card-text"><small class="text-muted">Créé le : {{ ticket.time_created }}</small></p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-primary custom-button-primary">
                                <i class="fa fa-pencil-alt"></i> Modifier
                            </a>
                            <form method="post" action="{% url 'delete_ticket' ticket.id %}" style="display: inline">
                                {% csrf_token %}
                                <button
                                    type="submit"
                                    class="btn btn-danger custom-button-danger"
                                    onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
                                    <i class="fa fa-trash"></i> Supprimer
                                </button>
                            </form>
                            {% if ticket.id not in reviewed_tickets_ids %}
                                <a
                                        href="{% url 'add_review' ticket.id %}"
                                        class="review-button btn btn-primary">
                                    Créer une critique</a>
                            {% else %}
                                {% for review in ticket.reviews.all %}
                                    <div class="single-review my-4 p-2 border border-dark bg-light shadow">
                                        <strong>{{ review.user.first_name }} : </strong>
                                        <div class="star-rating">
                                            {% for i in 1|range:6 %}
                                                {% if i <= review.rating %}
                                                    <i class="fas fa-star"></i>
                                                {% else %}
                                                    <i class="far fa-star"></i>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <h4>{{ review.headline }}</h4>
                                        <p>{{ review.body }}</p>
                                        <small>
                                            Créé par {{ review.user.first_name }}
                                            {{ review.user.last_initial|capfirst }}.
                                        </small>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
