<!-- reviews/templates/reviews/list_tickets.html -->
{% extends 'reviews/base.html' %}
{% load range_filter %}
{% block content %}

<div class="container d-flex flex-column">
    <div class="row">
        <div class="col mb-3">
            <h2 class="mb-3">Vos critiques</h2>
        </div>
    </div>
    <div class="row d-flex flex-column">
        {% for review in reviews %}
        <div class="col-12 mb-2">
            <div class="card bg-white mb-3 p-3">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img class="card-img"
                            src="{{ review.ticket.image.url }}"
                            alt="{{ review.ticket.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body single-review p-2 border border-dark bg-light shadow" style="width: 100%;">
                            <h3 class="my-2">{{ review.ticket.title }}</h3>
                            <div class="star-rating my-2">
                                {% for i in 1|range:6 %}
                                    {% if i <= review.rating %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <h5 class="card-subtitle">{{ review.headline }}</h5>
                            <p class="card-text">{{ review.body }}</p>
                            <p class="card-text"><small class="text-muted">Créé le : {{ review.time_created }} par {{ review.user.first_name }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
