{% load static %}
<html>
<body class="sidebar-admin-ui">
    <nav class="sidebar">
        <div class="text-center mb-4">
            <img src="{% static 'reviews/images/logo.png' %}" class="logo">
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="{% url 'dashboard' %}"><i class="fa fa-home"></i> Mon compte</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'list_tickets' %}"><i class="fa fa-ticket-alt"></i> Mes demandes de critiques</a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="fa fa-star"></i> Mes critiques</a>
            </li>
            <li class="nav-item">
                <a href="#"><i class="fa fa-users"></i> Mes abonnements</a>
            </li>
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button
                        type="submit"
                        class="logout_button">
                        <i class="fa fa-sign-out-alt"></i> Se déconnecter
                    </button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="content">
        <div class="container-fluid">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>
