/* Global */
:root {
    --litreview-yellow: #FFE01B;
    --litreview-black: #241C15;
    --litreview-white: #FFFFFF;
    --litreview-light-gray: #F4F4F4;
    --litreview-gray: #E0E0E0;
    --litreview-dark-gray: #A8A8A8;
    --base-font-size: 0.875rem;
    --copy-size: var(--base-font-size);
    --copy-large: calc(var(--base-font-size) * 1.618);
    --cta-message-font-size: calc(var(--base-font-size) * 1.618);
    --cta-subtitle-font-size: calc(var(--cta-message-font-size) * 1.618);
    --cta-title-font-size: calc(var(--cta-subtitle-font-size) * 1.618);
    --copy-font-family: 'Open Sans', sans-serif;
    --title-font-family: 'Merriweather', serif;
    --copy-small: calc(var(--base-font-size) * 0.818);
    --primary-color: #2c3e50;
    --secondry-color: #34495e;
    --accent-color: #1abc9c;
    --light-color: #ecf0f1;
    --dark-color: #2c3e50;
}

body {
    background: whitesmoke;
    font-family: var(--copy-font-family);
    box-sizing: border-box;
}

/* global settings */
h1, h2, h3, h4 {
    font-family: var(--title-font-family);
}

h1 {
    font-size: var(--cta-title-font-size);
}

h2 {
    font-size: var(--cta-subtitle-font-size);
}

p {
    font-family: var(--copy-font-family);
    font-size: var(--copy-size);
}

/* navigations */
.navigation {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    gap: calc(var(--base-font-size)* 0.818);
    align-content: center;
    flex-wrap: wrap;
}

/* Dashboard section */
.card-img {
    width: 100%;
    height: auto;
    max-height: calc(var(--base-font-size) * 17.618);
    object-fit: scale-down;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-footer {
    padding: 1rem;
    background: transparent !important;
}

.card {
    display: flex;
    background: var(--litreview-light-gray) !important;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    border-radius: calc(var(--base-font-size) * 1.618) !important;
}

.img-col {
    border-right: 1px solid rgba(0,0,0,.125);
}

/* Sidebar Layout */
.sidebar-admin-ui {
    margin: 0;
    padding: 0;
    background: var(--light-color);
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding-top: 20px;
    z-index: 2000;
    border-radius: 10px;
}

.sidebar .nav-item a {
    color: var(--dark-color);
    display: block;
    text-decoration: none;
}

.nav-item {
    margin: 1rem;
}
.sidebar .nav-item a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    padding-left: 20px;
    transition: 0.3s;
}
/* content */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* Buttons */
.signup_button,
.login_button, .home_register_button,
.return_button, .custom-button-primary.btn-primary,
.save-button.btn-primary,
.cancel-button.btn-primary,
.add-ticket-button.btn-primary,
.add-review-button.btn-primary {
    background: var(--litreview-yellow);
    font-family: var(--copy-font-family);
    padding: calc(var(--base-font-size) * 0.618) calc(var(--base-font-size) * 1);
    border: solid 1px;
    border-radius: calc(var(--base-font-size) * 1.618);
    color: var(--litreview-black);
    font-weight: bold;
    display: block;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease box-shadow 0.3s ease;
    transform: translate(0,0);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 1.5rem;
}

.custom-button-primary.btn-primary,
.cancel-button.btn-primary {
    display: inline-block;
}

.signup_button:hover,
.login_button:hover,
.home_register_button:hover,
.return_button:hover,
.custom-button-danger.btn-danger:hover,
.custom-button-primary.btn-primary:hover,
.save-button.btn-primary:hover,
.cancel-button.btn-danger:hover,
.add-ticket-button.btn btn-primary:hover,
.add-review-button.btn-primary {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0,0,0,0.4);
}

.edit-ticket-button-group {
    display: flex;
    justify-content: left;
    gap: var(--base-font-size);
    align-items: center;
    margin-bottom: 1rem;
}

.custom-button-danger.btn-danger, .cancel-button.btn-danger {
    background: var(--litreview-black);
    font-family: var(--copy-font-family);
    padding: calc(var(--base-font-size) * 0.618) calc(var(--base-font-size) * 1);
    border: solid 1px !important;
    border-radius: calc(var(--base-font-size) * 1.618);
    color: var(--litreview-white);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease box-shadow 0.3s ease;
    transform: translate(0,0) !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 1.5rem;
}
/* headers & footers */
.header, .footer {
    display: flex;
    justify-content: center;
    padding: calc(var(--base-font-size) * 0.618);
    border: solid 1px var(--litreview-dark-gray);
}

.footer {
    width: calc(100% - 250px);
    margin-left: 250px;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    margin-top: 2rem;
    z-index: 1000;
}

.logo {
    height: auto;
    width: calc(100px * 1.618);
    margin: calc(var(--base-font-size) * 0.618);
}

/* register & login */
.container, .register_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: calc(var(--base-font-size) * 1.618);
    margin: 0 auto;
    gap: calc(var(--base-font-size) * 1.618);
}
.register_column, .login_column, .register_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: calc(var(--base-font-size) * 1.618);
    border: solid 1px var(--litreview-dark-gray);
    border-radius: calc(var(--base-font-size) * 1.618);
    margin: 0 calc(var(--base-font-size) * 0.618);
}

.login_form, .register_form {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    justify-content: center;
    padding: calc(var(--base-font-size) * 1.618);
}

.join .login {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    justify-content: center;
    padding: calc(var(--base-font-size) * 1.618);
}

.profile-picture, .no-profile-picture {
    width: 40px;
    height: 40px;
    border-radius : 50%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-greetings, .logout_button, .logout_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

/* forms */
.login_form label, .register_form label {
    visibility: hidden;
}

.login_form input, .register_form input {
    width: 100%;
    padding: calc(var(--base-font-size) * 0.618);
    border: 1px solid var(--litreview-dark-gray);
    border-radius: calc(var(--base-font-size) * 0.618);
    margin-bottom: 0 5px;
    border-sizing: border-box;
}

.ticket {
    margin-bottom: 1rem;
}

.ticket label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ticket input[type="text"], .ticket textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.current-image {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    margin-top: 1rem;
}

.edit-ticket-form, .image-section {
    display: flex;
    flex-direction: column;
    background: var(--litreview-light-gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: auto;
}

.image-section {
    justify-content: space-between;
    object-fit: scale-down;
    flex-grow: 1;
}

.current-ticket-image {
    width: 100%;
    padding: calc(var--base-font-size) * 0.618);
    height: auto;
    object-fit: contain;
}

.form-group {
    margin-bottom: 10px;
}

/* Home */
.login_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: left;
    justify-content: center;
    padding: calc(var(--base-font-size) * 1.618);
}

.login_section input {
    width: 100%;
    border: 1px solid var(--litreview-dark-gray);
    border-radius: calc(var(--base-font-size) * 0.618);
    margin-bottom: 0 5px;
    border-sizing: border-box;
}

.login_section label {
    visibility: hidden;
}

.cta_register, .cta_login {
    padding-bottom: 0.75rem;
}

.welcome_container {
    text-align: center;
    width: 100%;
}

.cta_welcome_title {
    width: 100%;
    text-align: center;
    font-size: var(--cta-subtitle-font-size);
    font-family: var(--title-font-family);
    font-weight: 600;
    color: var(--litreview-black);
    margin-top: calc(var(--base-font-size) * 1.618);
}

.cta_welcome_message {
    text-align: center;
    font-size: var(--cta-message-font-size);
    font-family: var(--copy-font-family);
    font-weight: 400;
    color: var(--litreview-black);
    margin-top: calc(var(--base-font-size) * 1.618);
    line-height: calc(var(--base-font-size) * 0.618);
}

.cta_register, .cta_login {
    font-size: var(--cta-message-font-size);
}

.logout_button {
    background:none;
    border:none;
    padding:0;
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}
